body{
    margin: 0 0 0 0;
    background:  #101113
}


canvas{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    display: block;
    background: #202326
}

button{
    display: inline-block;
}